@import '../main.scss';

#projects-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.projects-item {
  @extend .card;
  @extend .m-4;
  @extend .border-primary;
  @extend .rounded-0;
  font-size: smaller;
  background-color: $background;
  width: fit-content;
}

.projects-item:hover {
  transform: scale(1.1);
}

.projects-item-body {
  @extend .card-body;
  @extend .py-2;
}

.projects-item-title {
  @extend .card-title;
  color: $primary;
  text-decoration: underline 1px;
  font-size: 150%;
  font-weight: 150%;
}

.projects-item-text {
  @extend .card-text;
  color: $secondary;
}

.projects-item-footer {
  @extend .card-footer;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $background;
}

.projects-item-badges > .badge-base {
  @extend .mx-1;
}

.badge-base {
  @extend .badge;
  background-color: $badge-color;
  color: $background;
}