$background: #fff;
$primary: #000;
$secondary: #444;
$danger: #e44;
$link-color: #44f;
$my-gray: #888;

// Misc
$js-yellow: #ff4;
$ts-blue: #44f;
$scala-red: #f44;
$rusty: #944;

$theme-colors: (
  'background': $background,
  'primary': $primary,
  'secondary': $secondary,
  'danger': $danger,
  'link-color': $link-color,
  'my-gray': $my-gray,

  // Misc
  'js-yellow': $js-yellow,
  'ts-blue': $ts-blue,
  'scala-red': $scala-red,
  'rusty': $rusty
);