$background: #fff;
$primary: #000;
$secondary: #666;
$danger: #e44;
$link-color: #44f;
$badge-color: #888;
$shadow-color: #aaa;

// Misc
$js-yellow: #ff4;
$ts-blue: #44f;
$scala-red: #f44;
$rusty: #944;

$theme-colors: (
  'background': $background,
  'primary': $primary,
  'secondary': $secondary,
  'danger': $danger,
  'link-color': $link-color,
  'badge-color': $badge-color,
  'shadow-color': $shadow-color,

  // Misc
  'js-yellow': $js-yellow,
  'ts-blue': $ts-blue,
  'scala-red': $scala-red,
  'rusty': $rusty
);