$body-bg: #111;
$body-color: #2b2;

// Theme colors
$primary: #222;
$danger: #b22;

@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=VT323');

body {
  scrollbar-color: $primary;
  font-family: 'VT323', monospace;
  font-size: large;
}

#terminal {
  width: max-content;
  height: max-content;
}

#terminal-lines-container {
  width: 80vw;
  height: 40vh;
  overflow: auto;
  background-color: #181818;
  color: $body-color;
}

#terminal-input-prefix, #terminal-input-field {
  border-radius: 0%;
  border-style: hidden;
  background-color: $primary;
  color: $body-color;
}

.terminal-line {
  overflow-wrap: break-word;
}

#terminal-titlebar {
  background-color: #383838;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#terminal-titlebar-buttons {
  font-size: 150%;
  font-weight: 800;
}

#terminal-titlebar-buttons a:hover {
  text-decoration: none;
}