@import './colors.scss';

$body-bg: #fff;
$body-color: #000;

// Theme colors
$primary: #eee;
$danger: #e44;

@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=VT323');

$secondary-color: #222;

body {
  scrollbar-color: $primary;
  font-family: 'VT323', monospace;
}

a[href] {
  color: $body-color;
}

body,
input, 
textarea, 
button {
  letter-spacing: 0.1em;
}

#content {
  @extend .container;
  @extend .p-4;
  margin-bottom: 2em;
  font-size: 150%;
  color: $secondary-color;
}

.hide {
  display: none;
}

.my-shadow {
  box-shadow: 8px 16px $my-gray;
}

#links {
  margin-bottom: 2em;
  min-height: 2em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 150%;
  border-bottom: $body-color solid 1px;
}

#links a:hover {
  font-size: 120%;
  font-weight: 120%;
}
