@import '../styles.scss';

#terminal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  animation-name: slide-in;
  animation-duration: 500ms;
}

@keyframes slide-in {
  from { bottom: -50%; }
  to   { bottom: 0;    }
}

#terminal-lines-container {
  padding: 0 2ch 0 2ch;
  min-height: 8em;
  max-height: 8em;
  overflow: auto;
  background-color: rgba($body-bg, 0.5);
  font-size: smaller;
  color: $primary;
  border-bottom: $primary solid 1px;
}

#terminal-input-prefix,
#terminal-input-field {
  border-radius: 0;
  border-style: hidden;
  background-color: $background;
  color: $primary;
  padding-right: 0;
  padding-left: 2ch;
}

.terminal-line {
  overflow-wrap: break-word;
}

#terminal-titlebar {
  @extend .py-0;
  background-color: $primary;
}

#terminal-titlebar {
  a, span {
    color: $background;
  }
  a:hover {
    text-decoration: none;
  }
}